body{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

button{
  color: #fff;
  background-color: #3882f6;
  width: 128px;
  height: 32px;
  border-radius: 6px;
  border-style: none;
}

img{
  width: 564px;
  height: auto;
}

.header{
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  font-size: 24px;
  color: #F9FAF8;
  padding-left: 350px;
  padding-right: 350px;
  padding-bottom: 75px;
  margin: 0;
  gap: 80px;
}

.awesome{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 650px;
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  flex-shrink: 0;
}

.imgtextheader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 48px;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #F9FAF8;
  padding: 32px;
}

.secondary{
  font-size: 18px;
  font-weight: normal;
  color: #e5e7eb;
}

ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 18px;
  color: #e5e7eb;
  gap: 32px;
}

a{
  text-decoration: none;
  color: #E5E7EB;

}